.accordion {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 50px;
}

.h1 {
  display: flex;
  justify-content: center;
  font-size: 54px;
}
.accordion-section {
  position: relative;
  overflow: hidden;
  background: white;
  width: 80px;
  height: 400px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  opacity: 0.9;
  transition: 0.5s;
}

.accordion-header,
.accordion-content {
  margin: 0;
}

.accordion-section.active {
  width: 500px;
  opacity: 1;
}

.accordion-header {
  font-size: 24px;
  font-weight: 400;
  color: aliceblue;
}

.accordion-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: #151c35;
  transition: 0.25s;
}

.linkd {
  color: oldlace;
}

.accordion-section.active .accordion-content {
  opacity: 1;
  visibility: visible;
}

.accordion .material-symbols-outlined {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: rgb(255 255 255 / 80%);
  border-radius: 50%;
  font-size: 28px;
}

.accordion img {
  position: absolute;
  z-index: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150%;
  filter: grayscale(0.5);
}
