.image-gallery-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-item {
  width: 200px;
  padding: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.zsx {
  width: 90vw;
  height: auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.modal {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.modal img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.h1 {
  display: flex;
  justify-content: center;
  font-size: 54px;
}
