.image-overlay-card {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.486);
  color: #fff;
}

.text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 16px;
}
