.review-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: #151515;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.review-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 7px;
}

.roverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.review-card:hover .roverlay {
  opacity: 1;
}

.rtext {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 16px;
}
.rating {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ffd700;
}

.rating span {
  margin-right: 5px;
}

.rtext a {
  display: block;
  text-align: center;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.rtext a:hover {
  background-color: #007bff;
}

.revi {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.rh2 {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 54px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
